@use '@angular/material' as mat;

.mentor::after, .lead::after {
    content: 'Team lead';
    position: absolute;
    top: 0;
    right: -5px;
    padding: 0 .4rem;
    z-index: 2;
    border-radius: 3px;
    color: #212121;
    font-size: .7rem;
    font-weight: bold;
    background-color: #ffeb3b;
    transition: .2s cubic-bezier(0, 0, .1, 1);
    @include mat.elevation(2);
}

.mentor::after {
    content: 'Mentor';
    color: #fff;
    background-color: #009688;
}

.file {
    &:hover.mentor::after, &:hover.file.lead::after {
        background-color: #fff;
        color: #ffa200;
    }
    &:hover.file.mentor::after {
        background-color: #fff;
        color: #009688;
    }
}