<app-window name="About">
    <div class="content">
        <h1 class="title">CyLiis</h1>
        <h2 class="subtitle">Thinking beyond the CODE. Engineering beyond the ROBOT.</h2>
        <b class="description">
            CyLiis represents the wish of passionate students to try the hands-on
            learning experience in the challenge made by “Natie prin educatie” through
            the First Tech Challenge program, starting with the Relic Recovery season.
            CyLiis is a complex experience, a place where we transform ideas into
            robots, come up with ingenious solutions for technical problems, draw 3D
            models, print prototypes using 3D printers, build automatic systems,
            programming and train for competitions and demos. We always organize
            activities in which we give back what we won after being part of the CyLiis
            family. We learned that “Robotics unites Romania” is not just a slogan, it
            is an axiom.
        </b>
    </div>
</app-window>
