.cl {
    box-sizing: border-box;
    padding: .5rem;
    max-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.console-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
    font-size: 14px;
    padding-left: 0;
    width: auto;
    width: 100%;
    padding-bottom: 5rem;
}

.input {
    display: flex;
    gap: .5rem;
}

.mark {
    color: rgb(var(--primary-color));
  }
  
::selection {
    color: #fff;
    background: rgb(var(--primary-color));
}

.folder, .dir {
    color: #2d7bdb;
}

.restricted {
    color: #C01C28;
}

.ls {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.origin {
    color: #33D17A;
}

.func {
    color: #fff;
}